/* 본 파일은 절대로 수정하지 않습니다. */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

/* 전체 */
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* 블럭 */
.navbar {
  background-color: white;
  padding: 30px;
}

/* 아이템 */
.navbar__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navbar__item {
  margin-right: 25px;
}

/* 링크 */
.navbar__link {
  color: #66f;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.navbar__link:hover {
  /* box-shadow: 0 0 10px #66f; */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
